<div class = "container mt-5">
   <div class="d-flex justify-content-between align-items-center mb-4">
    <h1><%= @restaurant.name %></h1>
     </div>

      <p class="well">The address: <%= @restaurant.address %></p>
       <p class="well">The phone number: <%= @restaurant.phone_number%></p>
       <p class="well">The category: <%= @restaurant.category%></p>

       <h2>Reviews</h2>

<% if @restaurant.reviews.any? %>
  <% @restaurant.reviews.each do |review| %>
   <p>
  <strong>
    <% review.rating.times do %>
      <i class="fa-solid fa-star"></i>
    <% end %>
  </strong>
  – <%= review.content %>
</p>
       <%= link_to "Delete",
                review_path(review),
                data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
                class: "btn btn-sm btn-danger" %>

  <% end %>
<% else %>
  <p>No reviews yet.</p>
<% end %>


  <hr>
  <%= link_to "Back to list", restaurants_path, class: "btn btn-primary" %>

  <%= link_to "Add a review", new_restaurant_review_path(@restaurant),class: "btn btn-primary" %>
</div>
